/* ---------------- Variables ------------------ */

:root {
    /* ------------ Colors ------------ */
    /* Black */
    --black: #141414;
    /* White */
    --white: #ffffff;
    /* Pink */
    --dark-pink: #820046;
    --light-pink: #fabedc;
    /* Yellow */
    --dark-yellow: #966400;
    --light-yellow: #ffe6be;
    /* Blue */
    --dark-blue: #000096;
    --light-blue: #82d2fa;
    /* Green */
    --dark-green: #004600;
    --light-green: #8cdc64;
    /* Orange */
    --dark-orange: #ff5a00;
    --light-orange: #ffa000;

    /* ------------ Fonts ------------ */
    /* Font Family */
    --font-family-primary: "Lynstone", Verdana, sans-serif; /* Primary font */
    /* Font Weight */
    --font-weight-regular: 400; /* Regular weight */
    --font-weight-semibold: 600; /* SemiBold weight */
    /* Letter Spacing */
    --letter-spacing-normal: 0; /* Normal letter spacing */
    --letter-spacing-tracking: -0.01em; /* Tracking letter spacing */
    /* Line Height */
    --line-height-base: 1.1; /* 110% line height */
    --line-height-auto: auto; /* Auto line height */
    /* Font Kerning */
    --font-kerning-optical: normal; /* Optical kerning */
}

/* ----------------- Globals ------------------- */

body {
    margin: 0;
    padding: 0;
    font-family: var(--primary-font);
    background-color: var(--white);
    color: var(--black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--font-weight-semibold); /* SemiBold */
    line-height: var(--line-height-base); /* 110% leading */
    font-kerning: var(--font-kerning-optical); /* Optical kerning */
    letter-spacing: var(
        --letter-spacing-tracking
    ); /* Tracking letter spacing */
}
p {
    font-weight: var(--font-weight-regular); /* Regular */
    line-height: var(--line-height-auto); /* Auto leading */
    font-kerning: var(--font-kerning-optical); /* Optical kerning */
    letter-spacing: var(--letter-spacing-normal); /* Normal letter spacing */
}

/* ----------------- General ------------------- */
/* ---- Nav Bar ---- */
nav {
    background-color: var(--dark-pink);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
        margin: 0;

        li {
            list-style: none;
            color: var(--light-pink);

            a {
                text-decoration: none;
                color: var(--light-pink);
            }
        }
    }
    a {
        img {
            height: 30px;
        }
    }
}

/* ---- Footer ---- */
footer {
    background-color: var(--dark-pink);
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        color: var(--white);
    }
}
