/* ---------------- Variables ------------------ */
/*---Fonts Imports---*/
/* Normal Font */
@font-face {
    font-family: "Lynstone";
    src: url("../assets/fonts/LynstoneWeb-VF-Upright-TEST-FONT.woff2")
        format("woff2");
    font-weight: 100 900; /* Supports weights from 100 to 900 */
    font-stretch: 75% 125%; /* Supports width scaling */
    font-style: normal; /* Normal style */
}

/* Italic Font */
@font-face {
    font-family: "LynstoneItalic";
    src: url("../assets/fonts/LynstoneWeb-VF-Upright-TEST-FONT.woff2")
        format("woff2");
    font-weight: 100 900; /* Supports weights from 100 to 900 */
    font-stretch: 75% 125%; /* Supports width scaling */
    font-style: italic; /* Italic style */
}

:root {
    /* ------------ Colors ------------ */
    /* Black */
    --black: #141414;
    /* White */
    --white: #ffffff;
    /* Pink */
    --dark-pink: #820046;
    --light-pink: #fabedc;
    /* Yellow */
    --dark-yellow: #966400;
    --light-yellow: #ffe6be;
    /* Blue */
    --dark-blue: #000096;
    --light-blue: #82d2fa;
    /* Green */
    --dark-green: #004600;
    --light-green: #8cdc64;
    /* Orange */
    --dark-orange: #ff5a00;
    --light-orange: #ffa000;

    /* ------------ Fonts ------------ */
    /* Font Family */
    --font-family-primary: "Lynstone", Verdana, sans-serif; /* Primary font */
    /* Letter Spacing */
    --letter-spacing-normal: 0; /* Normal letter spacing */
    --letter-spacing-tracking: -0.01em; /* Tracking letter spacing */
    /* Line Height */
    --line-height-base: 1.1; /* 110% line height */
    --line-height-auto: auto; /* Auto line height */
    /* Font Kerning */
    --font-kerning-optical: normal; /* Optical kerning */
    /* Font Weight */
    --font-weight-thin: 100; /* Thin weight */
    --font-weight-regular: 300; /* Regular weight */
    --font-weight-semibold: 600; /* SemiBold weight */
    --font-weight-bold: 700; /* Bold weight */
    --font-weight-black: 900; /* Black weight */
    /* Font Size */
    --font-size-2xs: 0.75rem; /* Extra Extra Small */ /* 12px */
    --font-size-xs: 0.875rem; /* Extra Small */ /* 14px */
    --font-size-sm: 1rem; /* Small */ /* 16px */
    --font-size-md: 1.125rem; /* Medium */ /* 18px */
    --font-size-lg: 1.25rem; /* Large */ /* 20px */
    --font-size-xl: 1.5rem; /* Extra Large */ /* 24px */
    --font-size-2xl: 2rem; /* Extra Extra Large */ /* 32px */
    --font-size-3xl: 2.25rem; /* Extra Extra Extra Large */ /* 36px */
    --font-size-4xl: 2.5rem; /* Extra Extra Extra Large */ /* 40px */

    /* ------------ Spacing ------------ */
    /* 4.16666665% */
    --dinamic-spacing: calc((100vw - 1320px) / 2);
}

/* ----------------- Globals ------------------- */

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family-primary);
    background-color: var(--white);
    color: var(--black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--font-weight-semibold); /* SemiBold */
    line-height: var(--line-height-base); /* 110% leading */
    font-kerning: var(--font-kerning-optical); /* Optical kerning */
    letter-spacing: var(
        --letter-spacing-tracking
    ); /* Tracking letter spacing */
}

h1 {
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-3xl); /* 36px */
}

h2 {
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-xl); /* 24px */
}

h3 {
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-lg); /* 20px */
}

p {
    font-weight: var(--font-weight-regular); /* Regular */
    line-height: var(--line-height-auto); /* Auto leading */
    font-kerning: var(--font-kerning-optical); /* Optical kerning */
    letter-spacing: var(--letter-spacing-normal); /* Normal letter spacing */
    margin: 0;
    padding: 0;
}
.body1 {
    font-size: var(--font-size-sm); /* 16px */
}
.body2 {
    font-size: var(--font-size-xs); /* 14px */
}
.body3 {
    font-size: var(--font-size-xs); /* 14px */
    font-weight: var(--font-weight-semibold); /* SemiBold */
}
.main-content {
    max-width: 1320px;
    margin: 0 auto;
}

/* ----------------- General ------------------- */
/* ---- Nav Bar ---- */
nav {
    background-color: var(--dark-pink);
    padding: 0.5rem var(--dinamic-spacing);
    padding-bottom: 0;
    height: 3.125rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    div {
        display: flex;
        flex-direction: row;
        a {
            margin-bottom: 1rem;
            margin-top: 0.5rem;
        }
        .tresoar-links {
            margin-left: 1.5rem; /* 24px */
            a {
                padding: 0.5rem 1rem;
                margin-bottom: 0;
                text-decoration: none;
                padding-bottom: 16px;
                padding-top: 16px;
                margin-top: 0;
                p {
                    color: var(--white);
                }
            }
            a.active {
                background-color: var(--white);
                margin-bottom: 0;
                padding-bottom: 16px;

                max-height: 3rem;
                p {
                    color: var(--black);
                }
            }
        }
    }
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        margin-bottom: 1rem;

        li {
            display: flex;
            margin-top: 0.5rem;
            align-items: center;
            justify-content: center;
            list-style: none;
            color: var(--light-pink);

            a {
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--light-pink);
                img {
                    height: 1.5rem;
                    width: 1.5rem;
                    margin-right: 1rem;
                }
            }
        }
        li:last-child a img {
            margin-right: 0.25rem;
        }
    }
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        .logo {
            height: 1.5rem;
        }
    }
}

/* ---- Footer ---- */
.footer-1 {
    background-color: var(--dark-pink);
    display: flex;
    height: 236px;
    justify-content: space-between;
    padding: 0 var(--dinamic-spacing);
    img {
        max-height: 138px;
    }
    .main-footer {
        margin-left: 1.5em; /* 24px */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: top;
        padding-top: 37px;
        width: 100%;
        #logo-footer {
            img {
                height: 1.5rem;
            }
        }
        .links {
            display: flex;
            justify-content: center;
            align-items: left;
            ul {
                display: flex;
                flex-direction: column;
                padding: 0;
                margin: 0;
                li {
                    list-style: none;
                    margin-bottom: 0.5rem;
                    a {
                        text-decoration: none;
                        color: var(--light-pink);
                    }
                }
                li:last-child {
                    margin-bottom: 0;
                }
            }
        }
        .p3 {
            .address {
                margin-bottom: 0.5rem;
                p {
                    color: var(--light-pink);
                    margin-bottom: 0.5rem;
                }
            }
            .follow-us {
                margin-top: 1rem;
                display: flex;
                flex-direction: column;
                align-items: left;
                justify-content: top;
                p {
                    color: var(--light-pink);
                    margin-bottom: 8px;
                }
                ul {
                    display: flex;
                    flex-direction: row;
                    padding: 0;
                    margin: 0;
                    li {
                        list-style: none;
                        margin-right: 0.5rem;
                        a {
                            text-decoration: none;
                            color: var(--light-pink);
                        }
                    }
                }
            }
        }

        .newsletter-signup {
            width: 26.3125rem;
            height: 62px;
            padding: 1rem;
            background-color: var(--white);
            p {
                color: var(--black);
                margin: 0;
            }
            .newsletter-email-input {
                margin-top: 5px;
                border: 1px solid #820046;
                height: 35px;
                display: flex;
                justify-content: space-between;
                input {
                    width: 100%;
                    font-size: 1rem;
                    padding: 8px;
                    border: none;
                    caret-color: #820046;
                }
                input:focus {
                    border-color: #820046;
                    outline: #820046;
                }
                button {
                    border: none;
                    background-color: var(--white);

                    .icon {
                        width: 24px;
                        height: 24px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
}
/*
.footer-2 {
    background-color: var(--dark-pink);
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    p {
        margin: 0;
        color: var(--white);

        span {
            font-family: sans-serif;
        }
    }
}
*/
