.search-form {
    width: 26.3125rem;
    height: 62px;
    background-color: var(--white);
    p {
        color: var(--black);
        margin: 0;
    }
    .search-input {
        border: 1px solid #820046;
        height: 48px;
        display: flex;
        justify-content: space-between;
        input {
            width: 100%;
            font-size: var(--font-size-lg);
            padding: 8px;
            padding-left: 6px;
            border: none;
            caret-color: #820046;
        }
        input:focus {
            border-color: #820046;
            outline: #820046;
        }
        button {
            border: none;
            background-color: var(--white);
            padding-right: 0;

            .icon {
                width: 24px;
                height: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .search-button {
            padding: 16px 24px;
            background-color: var(--dark-pink);
            color: var(--white);
            font-size: var(--font-size-sm);
        }
    }
}
.hero-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    width: 100%;
    max-height: 39.875rem;
    height: 39.875rem;
    background-image: linear-gradient(black, black),
        url("../assets/images/hero-banner.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: saturation;
    img {
        z-index: 3;
        max-height: 8.625rem;
        max-width: 4.25rem;
    }
    .hero-banner-text {
        z-index: 2;
        color: var(--white);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        h1 {
            margin-top: 4.75rem;
            margin-bottom: 1rem;
        }
        p {
            font-size: var(--font-size-lg);
            font-weight: var(--font-weight-semibold);
            margin-bottom: 3rem;
        }
    }
}
.hero-banner::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 39.875rem;
    background-color: rgba(0, 0, 0, 0.7); /* Black with 70% opacity */
    z-index: 1; /* Places it above the image */
}

.filters-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.suggested-search-filters {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
}

.card-arrows {
    display: flex;
    gap: 0.5rem;
}

.card-arrow-left,
.card-arrow-right {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-arrow-left img,
.card-arrow-right img {
    width: 0.5rem; /* Adjust as needed */
    height: 0.8125rem; /* Adjust as needed */
}
.cards-view {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin-bottom: 7.5rem;
}
.card {
    width: 19.5rem;
    max-height: 16.75rem;
    overflow: hidden;
    border: 1px solid var(--black);
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensures even spacing within the card */
    position: relative;
    padding: 1rem;
    box-sizing: border-box;
}

.card-img-top {
    display: block;
    height: 10rem; /* Fixed height to maintain consistency */
    width: 100%; /* Ensure it spans the width of the card */
    object-fit: cover; /* Prevent distortion */
    margin-bottom: 1rem; /* Add consistent spacing below the image */
}

.card-icon {
    position: absolute;
    z-index: 10;
    top: 23px;
    right: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card-title {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-semibold);
    margin-top: 8px;
    word-break: break-word;
}

.map {
    margin-bottom: 7.5rem;
}
