.search-form {
    width: 26.3125rem;
    height: 62px;
    padding: 1rem;
    background-color: var(--white);
    p {
        color: var(--black);
        margin: 0;
    }
    .search-input {
        border: 1px solid #820046;
        height: 40px;
        display: flex;
        justify-content: space-between;
        input {
            width: 100%;
            font-size: var(--font-size-lg);
            padding: 8px;
            padding-left: 6px;
            border: none;
            caret-color: #820046;
        }
        input:focus {
            border-color: #820046;
            outline: #820046;
        }
        button {
            border: none;
            background-color: var(--white);
            padding-right: 0;

            .icon {
                width: 24px;
                height: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
.card {
    border: 1px solid var(--black);
    
}
